body {
    width: 600px;
    margin: auto;
    text-align: center;

}

#titlelink,
#titlelink:hover,
#titlelink:visited,
#titlelink:active {
    text-decoration: none;
    color: black;

}

#editlink,
#editlink:hover,
#editlink:visited,
#editlink:active {
    text-decoration: none;
    color: white;
}